html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('img/background');
}


h1 {
    color: red;
    margin: 2rem;
}

p {
    margin: 2rem;
}

.main-table {
    margin: 2rem;
}

td {
    padding: 1rem;
    border: 1px solid black;
}

th {
    padding: 1rem;
    border: 1px solid black;
}
